<ui-view layout flex></ui-view>

<div layout="column" layout-align="top center" md-whiteframe="2" class="top-index">
  <md-button class="md-icon-button" ui-sref="schedule">
    <md-icon>schedule</md-icon>
  </md-button>
  <md-button class="md-icon-button" ui-sref="people">
    <md-icon>people</md-icon>
  </md-button>
  <i class="material-icons"></i>
  <md-button class="md-icon-button" ui-sref="locations">
    <md-icon>location_city</md-icon>
  </md-button>
  <md-button class="md-icon-button" ui-sref="sponsors">
    <md-icon>favorite</md-icon>
  </md-button>
  <md-button class="md-icon-button" ui-sref="info">
    <md-icon>info</md-icon>
  </md-button>
</div>
