<md-content layout="column" flex>
  <md-subheader>
    Other Info
  </md-subheader>
  <div layout="column" layout-padding>
    <h2>StartupBus Launch Party</h2>
    <p>
      <a href="https://www.eventbrite.com/e/2017-startupbus-florida-launch-party-tickets-36468182315">
        RSVP Link
      </a>
    </p>
    <h2>Channel of Communication</h2>
    <p>GroupMe: StartupBus Florida 2017</p>

    <h2>A Hustler's Guide To StartupBus (2017)</h2>
    <p><a href="https://www.nickpersico.com/a-hustlers-guide-to-startupbus-2017/">Link</a></p>

    <h2>Code of Conduct</h2>
    <p><a href="https://northamerica.startupbus.com/legal/code_of_conduct.html">Link</a></p>

    <h2>StartupBus FAQ</h2>
    <p><a href="https://northamerica.startupbus.com/faq.html">Link</a></p>
  </div>
</md-content>
