<md-content layout="column" flex>
  <md-subheader>
    Other Info
  </md-subheader>
  <div layout="column" layout-padding>
    <h2>Channel of Communication</h2>
    <p>tdb (possible group chat or slack)</p>
    
    <h2>Code of Conduct</h2>
    <p><a href="https://northamerica.startupbus.com/legal/code_of_conduct.html">https://northamerica.startupbus.com/legal/code_of_conduct.html</a></p>

    <h2>StartupBus FAQ</h2>
    <p><a href="https://northamerica.startupbus.com/faq.html">https://northamerica.startupbus.com/faq.html</a></p>
  </div>
</md-content>
