<md-content layout="column" flex>
  <md-subheader>
    Payments
  </md-subheader>
  <p style="padding: 5px; margin-bottom: 0px;">
    <em>* The Columbia, SC requires a group payment for the $90 rate. All riders must pay $30 for the Columbia, SC hotel before boarding the bus</em>
  </p>
  <div layout="column" layout-padding>
    <h2>Venmo</h2>
    <p>@KevinMircovich</p>

    <h2>Credit/Debit Card</h2>
    <p>
      <a href="https://cash.me/$KevinMircovich" target="_blank">https://cash.me/$KevinMircovich</a>
    </p>

    <h2>PayPal Link</h2>
    <p>
      <a href="https://www.paypal.me/StartupBusFL/33.3" target="_blank">
        https://www.paypal.me/StartupBusFL/33.3
      </a>
    </p>
  </div>
</md-content>
