@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

md-toolbar {
  background-color: #41bcc4 !important;
  min-height: 48px;
  max-height: 48px;
}
