<div layout="row" layout-align="center end">
  <md-card ng-repeat="person in $ctrl.people">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{person.firstName}} {{person.lastName}}</span>
        <span class="md-subhead">{{person.city}}</span>
      </md-card-title-text>
      <md-card-title-media layout-padding>
        <md-icon ng-style="{'color': person.color}">person</md-icon>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Edit</md-button>
      <md-button>Remove</md-button>
    </md-card-actions>
  </md-card>
</div>
