<md-content layout="column" flex>
  <md-subheader>Sponsors</md-subheader>
  <div>
    <md-card ng-repeat="sponsor in $ctrl.sponsors">
      <!-- <img ng-if="sponsor.imageName" ng-src="../images/{{sponsor.imageName}}" class="md-card-image" alt="sponsor image"> -->
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{sponsor.name}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Facebook: <a href="{{sponsor.facebook.link}}">{{sponsor.facebook.label}}</a></p>
        <p>Twitter: <a href="{{sponsor.twitter.link}}">{{sponsor.twitter.label}}</a></p>
        <p>Instagram: <a href="{{sponsor.instagram.link}}">{{sponsor.instagram.label}}</a></p>
        <p>Website: <a href="{{sponsor.website}}">{{sponsor.website}}</a></p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
